.idea/

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
cmake-build-debug
build/
CMakeLists.txt.user
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
